### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Group the schools 
schoolDataGrouped = school_data_complete.groupby('school_name')

#Find the total number of schools
totalSchools = len(schoolDataGrouped)

#Find the total number of students by finding the lenght of the DataFrame
totalStudents = len(school_data_complete['student_name'])

#To find the total budgetWe can group by school name, apply first on budget so we only take the first value of each school and them sum the values. 
totalBudget = schoolDataGrouped['budget'].first().sum() 

#Overall - Average scores.

#Reading
avgReading = school_data_complete['reading_score'].mean() 

#Math
avgMath = school_data_complete['math_score'].mean() 

# % of students passing Math and Reading. 

#math

count_studentsPassinMath = school_data_complete[school_data_complete['math_score'] >= 70]['math_score'].count()

pct_studentsPassinMath = (count_studentsPassinMath / totalStudents) * 100

#Reading

count_studentsPassinReading = school_data_complete[school_data_complete['reading_score'] >= 70]['reading_score'].count()

pct_studentsPassinReading = (count_studentsPassinReading / totalStudents) * 100

#Overall passing grade 

overallGrade = ((avgReading + avgMath) / 2) 

summary_dict = {'Total Schools' : totalSchools,
               'Total Students' : totalStudents,
               'Total Budget' : totalBudget,
               'Average Math Score' : avgMath,
               'Average Reading Score' : avgReading,
                '% Passing Math' : pct_studentsPassinMath,
                '% Passing Reading' : pct_studentsPassinReading,
                '% Overall Passing Rate' : overallGrade
               }

#Transform dictionary into a DataFrame and set the index to ' ' to get rid of the default index.
summary_df = pd.DataFrame(summary_dict, index = [''])

#Formatt.
summary_df['Total Students'] = summary_df['Total Students'].map("{:,.0f}".format)
summary_df['Total Budget'] = summary_df['Total Budget'].map("${:,.2f}".format)
summary_df['Average Math Score'] = summary_df['Average Math Score'].map("{:,.2f}%".format)
summary_df['Average Reading Score'] = summary_df['Average Reading Score'].map("{:,.2f}%".format)
summary_df['% Passing Math'] = summary_df['% Passing Math'].map("{:,.2f}%".format)
summary_df['% Passing Reading'] = summary_df['% Passing Reading'].map("{:,.2f}%".format)
summary_df['% Overall Passing Rate'] = summary_df['% Overall Passing Rate'].map("{:,.2f}%".format)

#Summary DataFrame
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,80.43%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [3]:
topPerformingGroup = school_data_complete.groupby('school_name')

#School Type 
topSchoolType = topPerformingGroup['type'].first()

#Find the total number of students by finding the lenght of the DataFrame
topTotalStudents = topPerformingGroup['student_name'].count()

#To find the total budgetWe can group by school name, apply first on budget so we only take the first value of each school and them sum the values. 
topTotalBudget = topPerformingGroup['budget'].first()

#per student budget
topPerStudentBudget = topTotalBudget / topTotalStudents 

#Overall - Average scores.

#Math
topAvgMath = topPerformingGroup['math_score'].mean() 

#Reading
topAvgReading = topPerformingGroup['reading_score'].mean() 

# % of students passing Math and Reading. 
#math

#Filter the students with math scores higher than 70 and then group them by school and picj student name to retrn the count of the number of studdents passing math..
topCount_studentsPassinMath = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count()
topPct_studentsPassinMath = (topCount_studentsPassinMath / topTotalStudents) * 100

#Reading

topCount_studentsPassinReading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count()
topPct_studentsPassinReading = (topCount_studentsPassinReading / topTotalStudents) * 100

#Overall passing grade  --> from average scores of % of students passing Math and Reading. 

topOverallGrade = ((topPct_studentsPassinReading + topPct_studentsPassinMath) / 2)  


topSummary_dict = {'School Type' : topSchoolType,
               'Total Students' : topTotalStudents,
               'Total Budget' : topTotalBudget,
                'Per Student Budget' : topPerStudentBudget,
               'Average Math Score' : topAvgMath,
               'Average Reading Score' : topAvgReading,
                '% Passing Math' : topPct_studentsPassinMath,
                '% Passing Reading' : topPct_studentsPassinReading,
                '% Overall Passing Rate' : topOverallGrade
               }

topSummary_df = pd.DataFrame(topSummary_dict).sort_values('% Overall Passing Rate',ascending = False)

#Format
topSummary_df['Total Students'] = topSummary_df['Total Students'].map("{:,.0f}".format)
topSummary_df['Total Budget'] = topSummary_df['Total Budget'].map("${:,.2f}".format)
topSummary_df['Per Student Budget'] = topSummary_df['Per Student Budget'].map("${:,.2f}".format)
topSummary_df['Average Math Score'] = topSummary_df['Average Math Score'].map("{:,.2f}%".format)
topSummary_df['Average Reading Score'] = topSummary_df['Average Reading Score'].map("{:,.2f}%".format)
topSummary_df['% Passing Math'] = topSummary_df['% Passing Math'].map("{:,.2f}%".format)
topSummary_df['% Passing Reading'] = topSummary_df['% Passing Reading'].map("{:,.2f}%".format)
topSummary_df['% Overall Passing Rate'] = topSummary_df['% Overall Passing Rate'].map("{:,.2f}%".format)

topSummary_df.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,95.29%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,95.27%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,95.27%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [4]:
worstSummary_df = topSummary_df.sort_values('% Overall Passing Rate')

worstSummary_df.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [5]:
#Math

#Take the original data frame, sort the rows with each grade and select all the columns then groupe by the school name and select the mean of the math score. 
grade9 = school_data_complete.loc[school_data_complete['grade'] == '9th', :].groupby('school_name')['math_score'].mean()

grade10 = school_data_complete.loc[school_data_complete['grade'] == '10th', :].groupby('school_name')['math_score'].mean()

grade11 = school_data_complete.loc[school_data_complete['grade'] == '11th', :].groupby('school_name')['math_score'].mean()

grade12 = school_data_complete.loc[school_data_complete['grade'] == '12th', :].groupby('school_name')['math_score'].mean()


grade_dict = {'9th' : grade9,
              '10th' : grade10,
              '11th' : grade11,
              '12th' : grade12
}

grade_df = pd.DataFrame(grade_dict)

#Format.
grade_df['9th'] = grade_df['9th'].map("{:,.2f}%".format)
grade_df['10th'] = grade_df['10th'].map("{:,.2f}%".format)
grade_df['11th'] = grade_df['11th'].map("{:,.2f}%".format)
grade_df['12th'] = grade_df['12th'].map("{:,.2f}%".format)

grade_df

                          9th    10th    11th    12th
school_name
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [6]:
#Reading

#Take the original data frame, sort the rows with each grade and select all the columns then groupe by the school name and select the mean of the math score. 
Rgrade9 = school_data_complete.loc[school_data_complete['grade'] == '9th', :].groupby('school_name')['reading_score'].mean()

Rgrade10 = school_data_complete.loc[school_data_complete['grade'] == '10th', :].groupby('school_name')['reading_score'].mean()

Rgrade11 = school_data_complete.loc[school_data_complete['grade'] == '11th', :].groupby('school_name')['reading_score'].mean()

Rgrade12 = school_data_complete.loc[school_data_complete['grade'] == '12th', :].groupby('school_name')['reading_score'].mean()


rGrade_dict = {'9th' : Rgrade9,
              '10th' : Rgrade10,
              '11th' : Rgrade11,
              '12th' : Rgrade12
}

rGrade_df = pd.DataFrame(rGrade_dict)

#Format.
rGrade_df['9th'] = rGrade_df['9th'].map("{:,.2f}%".format)
rGrade_df['10th'] = rGrade_df['10th'].map("{:,.2f}%".format)
rGrade_df['11th'] = rGrade_df['11th'].map("{:,.2f}%".format)
rGrade_df['12th'] = rGrade_df['12th'].map("{:,.2f}%".format)

rGrade_df

                          9th    10th    11th    12th
school_name
Bailey High School     81.30%  80.91%  80.95%  80.91%
Cabrera High School    83.68%  84.25%  83.79%  84.29%
Figueroa High School   81.20%  81.41%  80.64%  81.38%
Ford High School       80.63%  81.26%  80.40%  80.66%
Griffin High School    83.37%  83.71%  84.29%  84.01%
Hernandez High School  80.87%  80.66%  81.40%  80.86%
Holden High School     83.68%  83.32%  83.82%  84.70%
Huang High School      81.29%  81.51%  81.42%  80.31%
Johnson High School    81.26%  80.77%  80.62%  81.23%
Pena High School       83.81%  83.61%  84.34%  84.59%
Rodriguez High School  80.99%  80.63%  80.86%  80.38%
Shelton High School    84.12%  83.44%  84.37%  82.78%
Thomas High School     83.73%  84.25%  83.59%  83.83%
Wilson High School     83.94%  84.02%  83.76%  84.32%
Wright High School     83.83%  83.81%  84.16%  84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [31]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 584, 614, 644, 675] #<-------change bins
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

scoresSchool = pd.DataFrame(topSummary_dict) #Create a new DataFrame wihtout formating

scoresSchool['Spending Ranges (Per Student)'] = pd.cut(scoresSchool['Per Student Budget'], spending_bins, labels = group_names) #T

groupedScores = scoresSchool.groupby('Spending Ranges (Per Student)')

scoresAvgMath = groupedScores['Average Math Score'].mean()

scoresAvgReading = groupedScores['Average Reading Score'].mean()

scorePctMath = groupedScores['% Passing Math'].mean()

scorePctReading = groupedScores['% Passing Reading'].mean()

scorePctOverllPassing = groupedScores['% Overall Passing Rate'].mean()

scores_dict = {'Average Math Score' : scoresAvgMath,
              'Average Reading Score' : scoresAvgReading,
              '% Passing Math' : scorePctMath,
              '% Passing Reading' : scorePctReading,
              '% Overall Passing Rate' : scorePctOverllPassing}

scores_df = pd.DataFrame(scores_dict)
                              
#Format
scores_df['Average Math Score'] = scores_df['Average Math Score'].map("{:,.2f}".format)
scores_df['Average Reading Score'] = scores_df['Average Reading Score'].map("{:,.2f}".format)
scores_df['% Passing Math'] = scores_df['% Passing Math'].map("{:,.2f}%".format)
scores_df['% Passing Reading'] = scores_df['% Passing Reading'].map("{:,.2f}%".format)
scores_df['% Overall Passing Rate'] = scores_df['% Overall Passing Rate'].map("{:,.2f}%".format)               

scores_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46%,96.61%,95.04%
$585-615,83.60,83.89,94.23%,95.90%,95.07%
$615-645,79.08,81.89,75.67%,86.11%,80.89%
$645-675,77.00,81.03,66.16%,81.13%,73.65%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [38]:
# Sample bins. Feel free to create your own bins.

size_bins = [0, 999, 1999, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

schoolSizeScore = pd.DataFrame(topSummary_dict)

schoolSizeScore['School Size'] = pd.cut(schoolSizeScore['Total Students'], size_bins, labels = group_names)

groupedSchoolSize = schoolSizeScore.groupby('School Size')

sizeMathScore = groupedSchoolSize['Average Math Score'].mean()

sizeReadingScore = groupedSchoolSize['Average Reading Score'].mean()

sizePctMath = groupedSchoolSize['% Passing Math'].mean()

sizePctReading = groupedSchoolSize['% Passing Reading'].mean()

sizePctOverllPassing = groupedSchoolSize['% Overall Passing Rate'].mean()

size_dict = {'Average Math Score' : sizeMathScore,
              'Average Reading Score' : sizeReadingScore,
              '% Passing Math' : sizePctMath,
              '% Passing Reading' : sizePctReading,
              '% Overall Passing Rate' : sizePctOverllPassing}

size_df = pd.DataFrame(size_dict)
                              
#Format
size_df['Average Math Score'] = size_df['Average Math Score'].map("{:,.2f}".format)
size_df['Average Reading Score'] = size_df['Average Reading Score'].map("{:,.2f}".format)
size_df['% Passing Math'] = size_df['% Passing Math'].map("{:,.2f}%".format)
size_df['% Passing Reading'] = size_df['% Passing Reading'].map("{:,.2f}%".format)
size_df['% Overall Passing Rate'] = size_df['% Overall Passing Rate'].map("{:,.2f}%".format)               

size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,94.82%
Medium (1000-2000),83.37,83.86,93.60%,96.79%,95.20%
Large (2000-5000),77.75,81.34,69.96%,82.77%,76.36%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [41]:
groupedSchoolType = schoolSizeScore.groupby('School Type')

typeMathScore = groupedSchoolType['Average Math Score'].mean()

typeReadingScore = groupedSchoolType['Average Reading Score'].mean()

typePctMath = groupedSchoolType['% Passing Math'].mean()

typePctReading = groupedSchoolType['% Passing Reading'].mean()

typePctOverllPassing = groupedSchoolType['% Overall Passing Rate'].mean()

type_dict = {'Average Math Score' : typeMathScore,
              'Average Reading Score' : typeReadingScore,
              '% Passing Math' : typePctMath,
              '% Passing Reading' : typePctReading,
              '% Overall Passing Rate' : typePctOverllPassing}

type_df = pd.DataFrame(type_dict)
                              
#Format
type_df['Average Math Score'] = type_df['Average Math Score'].map("{:,.2f}".format)
type_df['Average Reading Score'] = type_df['Average Reading Score'].map("{:,.2f}".format)
type_df['% Passing Math'] = type_df['% Passing Math'].map("{:,.2f}%".format)
type_df['% Passing Reading'] = type_df['% Passing Reading'].map("{:,.2f}%".format)
type_df['% Overall Passing Rate'] = type_df['% Overall Passing Rate'].map("{:,.2f}%".format)               

type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,95.10%
District,76.96,80.97,66.55%,80.80%,73.67%